APP_ENV=production
ALLOWED_HOSTS=localhost,127.0.0.1,dash-board.localhost,dashboard.localhost
PUBLIC_BASE_URL=http://dash-board.localhost
SSO_ENABLED=false
SESSION_COOKIE_SECURE=false
DEV_AUTO_LOGIN=false

POSTGRES_DB=ax_distribution
POSTGRES_USER=ax_distribution
POSTGRES_PASSWORD=change-this-password

DASHBOARD_PORT=8080
BABY_PORT=8081
RUNNING_OUTFIT_PORT=3000
LOCAL_PROXY_PORT=80
